* {
    padding: 0px;
    margin: 0px;
}

h1 {
    color: #93dbff;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 35px;
    gap: 50px;
}

#header button{
    width: 100px;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 10px;
}

#header button:hover{
    background-color: beige;
}

#content {
    border: 2px solid black;
    background-color: black;
    height: 840px;
    width: 840px;
    margin: 5px;
    display: flex;
}

.tableGrid {

    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
    padding: 2px;
}

